*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-size: 20px;
}

/* header*/

header{
    position: fixed;
    padding: 20px 20px;
    background-color: rgb(93, 93, 255);
    color: white;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.container{
    max-width: 100%;
}


.col-50{
    width: calc(100% / 2);
    }
    
.content{
    margin: 10px 0;
}
        
.mobile-menu{
    margin-top: 30px;
}
            
    /*main*/

main{
    padding: 20px 0;
    top: 0;
    left: 0;
    margin: 100px 0;
}

.content-aplication{
    padding: 40px 40px 0px 40px;
    text-align: left;
}

.content-about-us{
    padding-left: 40px;
    padding-right: 40px;

}

.container-top-main{
    background-color: rgb(150, 193, 253);
    margin-top: 50px ;
    border-radius: 10px;
}

.container-main{
    max-width: 100%;
    padding: 0 20px;
    margin: 50px 0;
}

.col-main{
    align-content: center;
}



.bg-violet-main{
    background-color: #9593E6;
    
}


    
/*row*/
.row{
    display: flex;
    flex-wrap: wrap;
}

/*stilizazione*/

.fl-r{
    float: right;
}

.blu{
    color: rgb(91, 91, 255);
    padding-bottom: 20px;
}

.bg-white{
    background-color: white;
}

.bg-blu{
    background-color: rgb(91, 91, 255);
    border-radius: 20px;
    padding: 10px;
    margin-right: 120px;
}

.bg-violet{
    background-color: #9593E6;
    border-radius: 20px;
}

.white{
    color: white;
}

.phone{
    width: 100%;
    margin-top: 20px;
}

.p-gray{
    color: rgb(104, 104, 104);
    padding-bottom: 20px;
}

.txt-c{
    text-align: center;
}

.mr-r{
    margin-right: 5px;
}

.font-s{
    font-size: 15px;
    padding: 5px;
    
}

.font-s-icon{
    font-size: 50px;
}

.planning1{
    width: 100%;
    margin-top: 20px;
}

.ptb-30{
    padding: 30px 0 30px 0;
}

.padding-30{
    padding: 30px;
}

.txt-l{
    text-align: left;
}

.bg-white{
    background-color: white;
    border-radius: 20px;
}

.black{
    color: black;
}

.font-size-3{
    font-size: 30px;
}

.font-size-5{
    font-size: 50px;
}

.font-size-p{
    font-size: 20px;
}

.mr-r-l{
    margin: 0 20px 20px 20px;
}

.mr-t-b{
    margin: 40px 0;
}

.mr-b{
    margin-bottom: 20px;
}

.margin{
    margin: 40px 290px 40px 5px ;
    padding-left: 20px;
}



.arrow{
    background-color:#9593E6 ;
    color: black;
    border-radius: 50%;
    padding: 10px 0;
    margin:  50px 200px;
}

.violet{
    color: #9593E6;
}

.img-testimonial{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.txt-d{
    text-decoration: none;
}

.about-us{
    width: 100%;
}

.img-about-us{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.bg-linkedin{
    background-color: white;
    color: #9593E6;
}
/* media query*/
@media screen and {
    
}